.btn-auth {
    font-family: inherit;
    font-size: 18px;
    background: var(--muted, #e5f0ff);
    color: white;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: auto 0fr;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    position: relative;
  }
  
  .btn-auth:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    grid-template-columns: auto 1fr;
  }
  
  .btn-auth:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn-auth svg {
    color: #112240;
    transition: all 0.3s;
  }
  
  .btn-auth .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
  }
  
  .btn-auth:hover .svg-wrapper {
    margin-right: 0.5em;
    animation: bounce 1.2s ease-in-out;
  }
  
  .btn-auth:hover svg {
    z-index: 1;
  }
  
  .btn-auth .text {
    color: #112240;
    font-family: Prompt;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
  }


  .btn-publish ,.btn-update {
    color: #fff;
    font-family: Prompt;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--secondary, #25467b);
    transition: 0.5s;
  }
  
  .btn-publish:hover , .btn-update:hover {
    background: #3466b6;
  }
  
  .btn-publish svg,.btn-update svg {
    transition: 0.5s;
  }
  
  .btn-publish:hover svg ,.btn-update:hover svg {
    transform: scale(1.2) rotate(45deg);
  }

  /* create post form  */
.create-form{
  padding: 20px;
  font-family: Prompt;
  background-color: #E5F0FF;
}

.create-form input , .create-form textarea {
  background-color: #fcfeff;
  border: 1.4px solid #112240a2 ;
}


.create-form label {
  font-weight: 600;
}

.bg-dark-2 {
  background-color: #112240;
}

.create-title {
  font-family: Prompt;
  font-weight: 500;
}

/* mobile responsive */
@media only screen and (max-width: 767px) {
  .post-create-container{
    /* display: none; */
  }
}
  