
.login-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url(../images/login-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-box {
    border: 2px solid #ffffff;
    backdrop-filter: blur(20px);
    background-color: rgba(115, 118, 122, 0.1);
}



.login-input {
    background-color: rgba(115, 118, 122, 0.4);
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    outline: none;
    color : #ffffff;
    border: 0;
    width: 100%;
    border-radius:5px;
    padding : 1rem;
    padding-top: 1.7rem;
    font-size: 1.1rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.invalid-box {
  background-color: rgba(115, 118, 122, 0.1);


}

.login-label {
    color: #ffffff;
    position: absolute;
    left: 45px;
    font-weight: 600;
    pointer-events: none;
    transform: translateY(1.4rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.eye-icon {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    right: 45px;
    transform: translateY(50%);
    cursor: pointer;
}

/* .login-input:focus{
    outline: none;
} */


.login-input:focus ~ .login-label,input:valid ~ .login-label  {
    transform: translateY(-15%) translateX(-15px) scale(0.7);
    padding: 0.4em;
    font-weight: 600;
    border-bottom: 1.3px solid #fff;
}



.btn-login {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222222;
    font-weight: 800;
    border: 0;
    transition: .5s;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */

}

.btn-login:hover {
    background-color: #155CCD;
    color: #fff;
}

.btn-login svg {
    color: #222222;
    transition: 0.5s;
  }
  
  .btn-login:hover svg {
    color: #fff;
    transform: translateX(7px);
  }

  .back-home {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .back-home svg {
    cursor: pointer;
    transition: .5s;
  }

  .back-home svg:hover {
    transform: scale(1.15);
  }

/* mobile responsive */
@media only screen and (max-width: 767px) {

}
  
